<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ネオ目黒ライン NEO MEGURO LINE</title>
    <meta name="description" content="NEO MEGURO LINE draws a black line on eyes in your photo.">
    <meta name="keywords" content="ネオ目黒ライン,NEO MEGURO LINE,目線,黒塗り,黒線,privacy">
    <meta name="robots" content="index,follow">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/style.css" media="screen" title="no title">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-87716781-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8&appId=382255711790536";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <header>
      <h2>
        ネオ目黒ライン NEO MEGURO LINE
      </h2>

      <p>それはあなたの目に黒い線を引く
It draws a black line in your eyes.</p>
    </header>

    <img class="image" src="https://i.gyazo.com/cefc7f66f9a7b6a8ca406df222ee7034.png" alt="" />

    <button class="choose-button" type="button" name="button" onclick=>
      Use your own photo
    </button>

    <form class="form" action="/" method="post" enctype='multipart/form-data'>
      <input class="form-image" type="file" name="image" accept="image/*">
      <input type="submit" />
    </form>

    <footer>
      <div class="twitter-share-button-container">
        <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fmesen-dot-uiu-server.appspot-preview.com%2F&text=NEO%20MEGURO%20LINE"
         class="twitter-share-button"
         data-size="large">
          Tweet
        </a>

        <div class="fb-share-button" data-href="https://mesen-dot-uiu-server.appspot-preview.com/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmesen-dot-uiu-server.appspot-preview.com%2F&amp;src=sdkpreparse">シェア</a></div>

      </div>

      <div>
        by <a href="https://twitter.com/uiureo">uiu</a>
      </div>
    </footer>

    <script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
    <script type="text/javascript">
      $('.choose-button, .image').on('click', function () {
        $('.form-image').click()
      })
      $('.form').on('change', function () {
        $(this).submit()
      })
    </script>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
  </body>
</html>
